.git
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

.idea
.vscode
*.swp
*.swo

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Build Files ---
main
*.exe
*.test
*.out
debug
__debug_bin

README.md
LICENSE